* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* background-color: blue; */
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* parent NEVER scrolls */
.parent {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 0, 0, 0.536);
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ONLY text scrolls */
.text {
  flex: 1;
  background-color: #ffffff61;
  padding: 10px;

  overflow-y: auto;
  /* overflow-x: hidden; */

  word-break: break-word;
  overflow-wrap: break-word;
}
/* scrollbar width */
.text::-webkit-scrollbar {
  width: 8px;
}

/* scrollbar track (background) */
.text::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar thumb (moving part) */
.text::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 10px;
}

/* hover effect */
.text::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
button {
  width: 100%;
  height: 40px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: darkred;
}
textarea {
  height: 40px;
  padding: 8px;
  resize: vertical;
}
textarea::-webkit-scrollbar {
  width: 8px;
}

/* scrollbar track (background) */
textarea::-webkit-scrollbar-track {
  background: transparent;
}

/* scrollbar thumb (moving part) */
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 10px;
}

/* hover effect */
textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
