*{
margin:0;
padding:0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
background-color: black;
color: white;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
}
input{
  padding: 10px;
  width: 200px;
  border: 2px solid black;
}
button{
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 30px;
}
button:active{
  scale: 0.96;
}
.main{
  height: 100px;
  width: 200px;
}
.ui{
  border: 2px solid white;
  padding: 20px;
  margin: 20px;
  width: 300px;
}